* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
    background-image: radial-gradient(ellipse at 50% 50%, hsl(210, 100%, 97%), hsl(0, 0%, 100%));
}